@model ProductPostDto

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Create Product</h1>
                <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post"  enctype="multipart/form-data" action="Create">
                    <div class="form-group">
                        <label asp-for="@Model.Name">Name</label>
                        <input type="text" class="form-control" asp-for="@Model.Name" placeholder="SubCategory Name">
                        <span class="mt-2 text text-danger" asp-validation-for="@Model.Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Quantity">Quantity</label>
                        <input type="text" class="form-control" asp-for="@Model.Quantity" placeholder="Product Quantity">
                        <span class="mt-2 text text-danger" asp-validation-for="@Model.Quantity"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Price">Price</label>
                        <input type="text" class="form-control" asp-for="@Model.Price" placeholder="Product Price">
                        <span class="mt-2 text text-danger" asp-validation-for="@Model.Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ForwardUrl">Link</label>
                        <input type="text" class="form-control" asp-for="@Model.ForwardUrl" placeholder="Forward Link">
                        <span class="mt-2 text text-danger" asp-validation-for="@Model.ForwardUrl"></span>
                    </div>
                               <div class="form-group">
                        <label asp-for="@Model.formFiles">Link</label>
                        <input type="text" class="form-control" asp-for="@Model.formFiles" placeholder="For files">
                        <span class="mt-2 text text-danger" asp-validation-for="@Model.ForwardUrl"></span>
                    </div>
@*                    <div class="form-group mt-4">
                        <div class="btn-group dropdown mt-4">
                            <label asp-for="@Model.p">Categories</label>
                            <select asp-for="@Model.CategoryId" class="form-select form-select-sm">
                                @foreach (CategoryGetDto category in ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>

                                }
                            </select>

                        </div>
                    </div>*@
                    <div class="form-group mt-4">
                        <div class="btn-group dropdown mt-4">
                            <label asp-for=ParameterIds>Parameters</label>
                            <select asp-for="@Model.ParameterIds" asp-items="new SelectList((List<ParameterGetDto>)ViewBag.Parameters,nameof(ParameterGetDto.Id),nameof(ParameterGetDto.Name))" class="form-select form-select-sm">
                            </select>
                            <span class="text-danger" asp-validation-for=@Model.ParameterIds></span>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>


                </form>





            </div>
        </div>
    </div>
</div>